Name: <Zheng CEN> 
Course: BUDT704 
Section: <0502> 
Date: <10/22/21>

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
from numpy import nan as NA
from pylab import *

#1.Consider the data within the Excel spreadsheet: 
a. (2 points) Load the data from the file into a data frame with rank denoted as the index. Hint: 
Review the Pandas documentation to see how you can load data from an Excel spreadsheet. 
b. (2 points) Print the total number of companies on the list 
c. (4 points) Print a data frame containing companies ranked within the top 25, including all data 
known about them.

In [68]:


df_inc = pd.read_excel('HW5_Socially Responsible ETFs.xlsx', index_col= 'RANK')
df_inc.head(4)

,URL,CITY,GROWTH,EMPLOYEES,COMPANY NAME,WEBSITE,CITY.1,STATE,REVENUW,ZIP CODE,FOUNDED,INDUSTRY,"CITY, STATE",Unnamed: 14,Unnamed: 15
RANK,,,,,,,,,,,,,,,
1,https://www.inc.com/profile/swanleap,Madison,75660.8425,49,SwanLeap,http://swanleap.com,Wisconsin,WI,98965631,53719,2013.0,Logistics & Transportation,"Madison, WI",Makes software for the logistics industry that...,During stints as a freight broker and shipping...
2,https://www.inc.com/profile/popsockets,Boulder,71423.7620,118,PopSockets,http://popsockets.com,Colorado,CO,168837562,80301,2010.0,Consumer Products & Services,"Boulder, CO","Makes self-adhesive, collapsible, expandable c...",Frustrated with his iPhone headphones getting ...
3,https://www.inc.com/profile/home-chef,Chicago,60165.5058,865,Home Chef,homechef.com,Illinois,IL,255047839,60611,2013.0,Food & Beverage,"Chicago-Naperville-Elgin, IL-IN-WI",NaN,NaN
4,https://www.inc.com/profile/velocity-global,Denver,39816.5093,55,Velocity Global,http://velocityglobal.com,Colorado,CO,49175942,80205,2013.0,Business Products & Services,"Denver-Aurora-Lakewood, CO",NaN,NaN

In [55]:
total_cpny = df_inc['COMPANY NAME'].value_counts
print(total_cpny)

<bound method IndexOpsMixin.value_counts of RANK
1                                SwanLeap
2                              PopSockets
3                               Home Chef
4                         Velocity Global
5                            DEPCOM Power
                      ...
4996                        Pentec Health
4997                  Progressive Freight
4998    Traffic Planning and Design, Inc.
4999                 Weld Power Generator
5000                Pedigree Technologies
Name: COMPANY NAME, Length: 5000, dtype: object>

In [58]:
print("how many companies:", df_inc['COMPANY NAME'].count(),"\n")

how many companies: 5000

1c)

In [146]:

df_1c = df_inc[:25]
print('', df_1c)

                                                     URL           CITY  \
RANK
1                  https://www.inc.com/profile/swanleap        Madison
2                https://www.inc.com/profile/popsockets        Boulder
3                 https://www.inc.com/profile/home-chef        Chicago
4           https://www.inc.com/profile/velocity-global         Denver
5              https://www.inc.com/profile/depcom-power     Scottsdale
6           https://www.inc.com/profile/aeronux-airways       Marietta
7            https://www.inc.com/profile/diamond-assets         Milton
8      https://www.inc.com/profile/gforce-life-sciences        Chicago
8                  https://www.inc.com/profile/flexport  San Francisco
9              https://www.inc.com/profile/scientistcom   Solana Beach
10    https://www.inc.com/profile/the-garrett-companies      Greenwood
11        https://www.inc.com/profile/dgc-international         Vienna
12                  https://www.inc.com/profile/exabeam      San Mateo
13                   https://www.inc.com/profile/podium           Lehi
14                 https://www.inc.com/profile/inova-us   Key Biscayne
15                  https://www.inc.com/profile/adrizer       Sarasota
16                  https://www.inc.com/profile/welfont          Tampa
17                    https://www.inc.com/profile/thinx  New York City
18     https://www.inc.com/profile/draken-international       Lakeland
19                  https://www.inc.com/profile/calmcom  San Francisco
20          https://www.inc.com/profile/curate-partners       Stoneham
21                     https://www.inc.com/profile/figs    Los Angeles
22                 https://www.inc.com/profile/techanax     Woodbridge
24              https://www.inc.com/profile/snacknation    Culver City
25               https://www.inc.com/profile/brooklinen       Brooklyn

          GROWTH  EMPLOYEES           COMPANY NAME                    WEBSITE  \
RANK
1     75660.8425         49               SwanLeap        http://swanleap.com
2     71423.7620        118             PopSockets      http://popsockets.com
3     60165.5058        865              Home Chef               homechef.com
4     39816.5093         55        Velocity Global  http://velocityglobal.com
5     38962.9022        104           DEPCOM Power            depcompower.com
6     20005.2390         17        Aeronux Airways                aeronux.com
7     19717.5129         41         Diamond Assets         diamond-assets.com
8     16426.6575         13   GForce Life Sciences     http://gforcestaff.com
8     15911.2237        532               Flexport        http://flexport.com
9     15267.7557         49          Scientist.com       http://scientist.com
10    14821.8995         40  The Garrett Companies    http://thegarrettco.com
11    14475.5148         55      DGC International                   dgci.com
12    14032.4773        153                Exabeam                exabeam.com
13    13645.2287        254                 Podium                 podium.com
14    13135.1845         25               Inova US                inovaus.com
15    12500.7218         24                AdRizer                adrizer.com
16    11359.3104         55                Welfont                welfont.com
17    10924.1379         44                  THINX               shethinx.com
18    10562.3592        200   Draken International             drakenintl.com
19    10548.7682         25               Calm.com                   calm.com
20    10056.5729         13        Curate Partners         curatepartners.com
21     9947.5655         45                   FIGS               wearfigs.com
22     9508.0119         20               TechAnax               techanax.com
24     9199.5777        158            SnackNation            snacknation.com
25     9154.1993         22             Brooklinen             brooklinen.com

              STATE State Code    REVENUE  ZIP CODE  FOUNDED  \
RANK
1         Wisconsin         WI   98965631     53719   2013.0
2          Colorado         CO  168837562     80301   2010.0
3          Illinois         IL  255047839     60611   2013.0
4          Colorado         CO   49175942     80205   2013.0
5           Arizona         AZ  219574136     85258   2013.0
6           Georgia         GA   21874500     30066   2011.0
7         Wisconsin         WI   43084462     53563   2014.0
8          Illinois         IL   16893384     60606   2013.0
8        California         CA  224745864     94102   2013.0
9        California         CA   50268390     92075   2007.0
10          Indiana         IN   82070447     46143   2014.0
11         Virginia         VA  179707790     22182   2010.0
12       California         CA   18781497     94403   2013.0
13             Utah         UT   30248850     84043   2013.0
14          Florida         FL   39445482     33149   2008.0
15          Florida         FL   16723552     34236   2013.0
16          Florida         FL   14055761     33602   2014.0
17         New York         NY   39556922     10001   2014.0
18          Florida         FL   30403184     33811   2011.0
19       California         CA   22347505     94105   2012.0
20    Massachusetts         MA   12328556      2180   2014.0
21       California         CA   23115831     90064   2013.0
22         Virginia         VA   24498797     22193   2012.0
24       California         CA   16890172     90232   2014.0
25         New York         NY   47864847     11201   2014.0

                          INDUSTRY  \
RANK
1       Logistics & Transportation
2     Consumer Products & Services
3                  Food & Beverage
4     Business Products & Services
5                           Energy
6       Logistics & Transportation
7                Computer Hardware
8                  Human Resources
8       Logistics & Transportation
9                           Health
10                     Real Estate
11             Government Services
12                        Security
13    Business Products & Services
14         Advertising & Marketing
15                        Software
16                     Real Estate
17                          Retail
18             Government Services
19    Consumer Products & Services
20                 Human Resources
21                          Retail
22             Government Services
24                 Food & Beverage
25                          Retail

                                       CITY, STATE  \
RANK
1                                      Madison, WI
2                                      Boulder, CO
3               Chicago-Naperville-Elgin, IL-IN-WI
4                       Denver-Aurora-Lakewood, CO
5                      Phoenix-Mesa-Scottsdale, AZ
6                Atlanta-Sandy Springs-Roswell, GA
7                                   Janesville, WI
8               Chicago-Naperville-Elgin, IL-IN-WI
8                San Francisco-Oakland-Hayward, CA
9                           San Diego-Carlsbad, CA
10                Indianapolis-Carmel-Anderson, IN
11    Washington-Arlington-Alexandria, DC-VA-MD-WV
12               San Francisco-Oakland-Hayward, CA
13                                  Provo-Orem, UT
14       Miami-Fort Lauderdale-West Palm Beach, FL
15                   Sarasota-Bradenton-Venice, FL
16             Tampa-St. Petersburg-Clearwater, FL
17           New York-Newark-Jersey City, NY-NJ-PA
18                                    Lakeland, FL
19               San Francisco-Oakland-Hayward, CA
20                  Boston-Cambridge-Newton, MA-NH
21              Los Angeles-Long Beach-Anaheim, CA
22    Washington-Arlington-Alexandria, DC-VA-MD-WV
24              Los Angeles-Long Beach-Anaheim, CA
25           New York-Newark-Jersey City, NY-NJ-PA

                                            Unnamed: 14  \
RANK
1     Makes software for the logistics industry that...
2     Makes self-adhesive, collapsible, expandable c...
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
24                                                  NaN
25                                                  NaN

                                            Unnamed: 15
RANK
1     During stints as a freight broker and shipping...
2     Frustrated with his iPhone headphones getting ...
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
24                                                  NaN
25                                                  NaN

#2 Upon import of the data and the columns, you notice the data frame is not completely clean 
and could benefit from some modifications. Describe and complete two different modifications to 
achieve tidy data.

In [69]:

# correct the col name
df_inc.rename(columns={'REVENUW':'REVENUE'}, inplace = True)
df_inc.rename(columns={'STATE':'State Code'}, inplace = True)
df_inc.rename(columns={'CITY.1':'STATE'}, inplace = True)
df_inc.head()

,URL,CITY,GROWTH,EMPLOYEES,COMPANY NAME,WEBSITE,STATE,State Code,REVENUE,ZIP CODE,FOUNDED,INDUSTRY,"CITY, STATE",Unnamed: 14,Unnamed: 15
RANK,,,,,,,,,,,,,,,
1,https://www.inc.com/profile/swanleap,Madison,75660.8425,49,SwanLeap,http://swanleap.com,Wisconsin,WI,98965631,53719,2013.0,Logistics & Transportation,"Madison, WI",Makes software for the logistics industry that...,During stints as a freight broker and shipping...
2,https://www.inc.com/profile/popsockets,Boulder,71423.7620,118,PopSockets,http://popsockets.com,Colorado,CO,168837562,80301,2010.0,Consumer Products & Services,"Boulder, CO","Makes self-adhesive, collapsible, expandable c...",Frustrated with his iPhone headphones getting ...
3,https://www.inc.com/profile/home-chef,Chicago,60165.5058,865,Home Chef,homechef.com,Illinois,IL,255047839,60611,2013.0,Food & Beverage,"Chicago-Naperville-Elgin, IL-IN-WI",NaN,NaN
4,https://www.inc.com/profile/velocity-global,Denver,39816.5093,55,Velocity Global,http://velocityglobal.com,Colorado,CO,49175942,80205,2013.0,Business Products & Services,"Denver-Aurora-Lakewood, CO",NaN,NaN
5,https://www.inc.com/profile/depcom-power,Scottsdale,38962.9022,104,DEPCOM Power,depcompower.com,Arizona,AZ,219574136,85258,2013.0,Energy,"Phoenix-Mesa-Scottsdale, AZ",NaN,NaN

In [70]:
## check the Nan remain 
#print("which has Nan?\n", df_inc.isnull(),"\n")
print("each column has NaN\n", df_inc.isnull().sum(),"\n")
print("total has NaN\n", df_inc.isnull().sum().sum(),"\n")
print("each column values\n", df_inc.count(),"\n")
#print("which column values\n", df_inc.notnull(),"\n")

each column has NaN
 URL                0
CITY               1
GROWTH             0
EMPLOYEES          0
COMPANY NAME       0
WEBSITE            0
STATE              1
State Code         1
REVENUE            0
ZIP CODE           0
FOUNDED            1
INDUSTRY           0
CITY, STATE       24
Unnamed: 14     4998
Unnamed: 15     4998
dtype: int64

total has NaN
 10024

each column values
 URL             5000
CITY            4999
GROWTH          5000
EMPLOYEES       5000
COMPANY NAME    5000
WEBSITE         5000
STATE           4999
State Code      4999
REVENUE         5000
ZIP CODE        5000
FOUNDED         4999
INDUSTRY        5000
CITY, STATE     4976
Unnamed: 14        2
Unnamed: 15        2
dtype: int64

In [60]:
# delete all NAN col 
df_inc.drop(['Unnamed: 14', 'Unnamed: 15'],axis=1, inplace= True)
df_inc.head()

KeyError: "['Unnamed: 14' 'Unnamed: 15'] not found in axis"

In [63]:
# delete the rows contain NA in the current dataframe
df_inc.dropna(inplace = True)

In [64]:
# check the Nan remain again
#print("which has Nan?\n", df_inc.isnull(),"\n")
print("each column has NaN\n", df_inc.isnull().sum(),"\n")
print("total has NaN\n", df_inc.isnull().sum().sum(),"\n")
print("each column values\n", df_inc.count(),"\n")
#print("which column values\n", df_inc.notnull(),"\n")

each column has NaN
 URL             0
CITY            0
GROWTH          0
EMPLOYEES       0
COMPANY NAME    0
WEBSITE         0
STATE           0
State Code      0
REVENUE         0
ZIP CODE        0
FOUNDED         0
INDUSTRY        0
CITY, STATE     0
dtype: int64

total has NaN
 0

each column values
 URL             4973
CITY            4973
GROWTH          4973
EMPLOYEES       4973
COMPANY NAME    4973
WEBSITE         4973
STATE           4973
State Code      4973
REVENUE         4973
ZIP CODE        4973
FOUNDED         4973
INDUSTRY        4973
CITY, STATE     4973
dtype: int64

#3a)

In [89]:

df_states = pd.read_csv('HW4_states_by_region.csv')
df_states.head()

        State State Code Region            Division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific

In [90]:
df_states = df_states[['State Code', 'Region']]
df_states.head()

  State Code Region
0         AK   West
1         AL  South
2         AR  South
3         AZ   West
4         CA   West

In [147]:
pd.merge(df_inc, df_states[['State Code', 'Region']], left_on='State Code', right_index=True)

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

#4

In [139]:
mean_df = df_inc['REVENUE'].mean()
print(f'the mean of revenues of all companies is {mean_df}')

the mean of revenues of all companies is 41221263.2006

In [141]:
max_df = df_inc['REVENUE'].max()
print(f'the max of revenues of all companies is {max_df}')

the max of revenues of all companies is 16433210000

In [142]:
min_df = df_inc['REVENUE'].min()
print(f'the min of revenues of all companies is {min_df}')

the min of revenues of all companies is 1952209

In [143]:
std_df = df_inc['REVENUE'].std()
print(f'the standard deviasion of revenues of all companies is {std_df}')

the standard deviasion of revenues of all companies is 282990264.70188546

In [153]:
# change time to numeric and the comparision
df_inc['FOUNDED'] = pd.to_numeric(df_inc['FOUNDED'])
df_2015 = df_inc[df_inc['FOUNDED'] <= 2015]
df_2015.head()

,URL,CITY,GROWTH,EMPLOYEES,COMPANY NAME,WEBSITE,STATE,State Code,REVENUE,ZIP CODE,FOUNDED,INDUSTRY,"CITY, STATE",Unnamed: 14,Unnamed: 15
RANK,,,,,,,,,,,,,,,
1,https://www.inc.com/profile/swanleap,Madison,75660.8425,49,SwanLeap,http://swanleap.com,Wisconsin,WI,98965631,53719,2013.0,Logistics & Transportation,"Madison, WI",Makes software for the logistics industry that...,During stints as a freight broker and shipping...
2,https://www.inc.com/profile/popsockets,Boulder,71423.7620,118,PopSockets,http://popsockets.com,Colorado,CO,168837562,80301,2010.0,Consumer Products & Services,"Boulder, CO","Makes self-adhesive, collapsible, expandable c...",Frustrated with his iPhone headphones getting ...
3,https://www.inc.com/profile/home-chef,Chicago,60165.5058,865,Home Chef,homechef.com,Illinois,IL,255047839,60611,2013.0,Food & Beverage,"Chicago-Naperville-Elgin, IL-IN-WI",NaN,NaN
4,https://www.inc.com/profile/velocity-global,Denver,39816.5093,55,Velocity Global,http://velocityglobal.com,Colorado,CO,49175942,80205,2013.0,Business Products & Services,"Denver-Aurora-Lakewood, CO",NaN,NaN
5,https://www.inc.com/profile/depcom-power,Scottsdale,38962.9022,104,DEPCOM Power,depcompower.com,Arizona,AZ,219574136,85258,2013.0,Energy,"Phoenix-Mesa-Scottsdale, AZ",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,https://www.inc.com/profile/pentec-health,Glen Mills,57.3485,580,Pentec Health,pentechealth.com,Pennsylvania,PA,160781213,19342,1983.0,Health,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",NaN,NaN
4997,https://www.inc.com/profile/progressive-freight,Thomasville,57.3364,12,Progressive Freight,progressivefreight.com,Georgia,GA,10728626,31799,2003.0,Logistics & Transportation,"Thomasville, GA",NaN,NaN
4998,https://www.inc.com/profile/traffic-planning-a...,Pottstown,57.2994,160,"Traffic Planning and Design, Inc.",trafficpd.com,Pennsylvania,PA,18215073,19464,1989.0,Engineering,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",NaN,NaN
4999,https://www.inc.com/profile/weld-power-generator,Millbury,57.2794,38,Weld Power Generator,weldpower.com,Massachusetts,MA,6570866,1527,1951.0,Energy,"Worcester, MA",NaN,NaN
5000,https://www.inc.com/profile/pedigree-technologies,Fargo,57.2358,69,Pedigree Technologies,pedigreetechnologies.com,North Dakota,ND,14266000,58104,2004.0,Software,"Fargo, ND-MN",NaN,NaN

In [157]:
# number of company 
num_com_2015 = df_2015.shape[0]
df_2015_rev = df_2015[df_2015['REVENUE'] >= 50000000]
num_com_2015_rev = df_2015_rev.shape[0]

In [159]:
print(f'number of company before 2015 is :{num_com_2015}')
print(f'number of company before 2015 with revenue > 50m is :{num_com_2015_rev}')
print('percentage of company before 2015 with revenue > 50m is', num_com_2015_rev / num_com_2015 *100,'%')

number of company before 2015 is :4999
number of company before 2015 with revenue > 50m is :681
percentage of company before 2015 with revenue > 50m is 13.622724544908982 %

4c)
upon all we found, there are more than 13% companies earn a profit more than 50m, compare to 40m average of all the company. But compare with highest companies, this is not enough. The reason may because of depreciation of dollars. So compare the data of different years may exist some error.

#5 Write a Python function with parameters of data frame, category, value, and a number that 
specifies the number of rows to display in the result. The category and value should have default 
values of 'None' and the number of rows (n) should have a default value of 10. n will specify the 
number of rows to display in the result. The function should return a data frame containing the top n 
rows of companies, based on revenues for a specific value in the category, only if both category and 
value are provided. If both category and value are not provided, the top n companies overall should be 
displayed.

In [109]:
def find_top(df, cate, val, n=10):   # cate category.  val. value
    if (cate != None)&(val != None):
        df= df[df[cate]== val]
        df= df.sort_values(by = 'REVENUE', ascending = False)
        return df[:n]
    else:  # the condition that any one of category and value is none
        df = df.sort_values(by = 'REVENUE', ascending = False)
        df = df[:n]
        return df

#6 Using the previously created function, create data frames for each of the following: 
a. (2 points) The top fifteen overall companies 
b. (2 points) The top ten companies in the food and beverage industry 
c. (2 points) The top three companies located in New York City 
d. (2 points) The top five companies in Maryland

In [118]:
df_6a = find_top(df_inc,None,None,15)
df_6b = find_top(df_inc, 'INDUSTRY','Food & Beverage',10)
df_6c = find_top(df_inc, 'CITY','New York City',3)
df_6d = find_top(df_inc, 'STATE','Maryland',5)

In [120]:
df_6a

,URL,CITY,GROWTH,EMPLOYEES,COMPANY NAME,WEBSITE,STATE,State Code,REVENUE,ZIP CODE,FOUNDED,INDUSTRY,"CITY, STATE",Unnamed: 14,Unnamed: 15
RANK,,,,,,,,,,,,,,,
1288,https://www.inc.com/profile/prime-therapeutics,Eagan,372.1123,4329,Prime Therapeutics,primetherapeutics.com,Minnesota,MN,16433210000,55121,1998.0,Health,"Minneapolis-St. Paul-Bloomington, MN-WI",NaN,NaN
1318,https://www.inc.com/profile/allied-universal,Santa Ana,363.0638,150000,Allied Universal,aus.com,California,CA,5301534000,92705,1965.0,Security,"Los Angeles-Long Beach-Anaheim, CA",NaN,NaN
4226,https://www.inc.com/profile/carahsoft-technology,Reston,80.4559,900,Carahsoft Technology,carahsoft.com,Virginia,VA,4107537719,20190,2004.0,Government Services,"Washington-Arlington-Alexandria, DC-VA-MD-WV",NaN,NaN
3439,https://www.inc.com/profile/endeavor,Beverly Hills,110.9724,6200,Endeavor,endeavorco.com,New York,NY,3541178000,90210,1995.0,Media,"Los Angeles-Long Beach-Anaheim, CA",NaN,NaN
4341,https://www.inc.com/profile/drivetime,Tempe,76.6689,6111,DriveTime,drivetime.com,Arizona,AZ,3267077000,85281,2002.0,Consumer Products & Services,"Phoenix-Mesa-Scottsdale, AZ",NaN,NaN
4204,https://www.inc.com/profile/armada,Pittsburgh,81.1360,468,ARMADA,armada.net,Pennsylvania,PA,2950772000,15238,1890.0,Logistics & Transportation,"Pittsburgh, PA",NaN,NaN
3546,https://www.inc.com/profile/srs-distribution,McKinney,106.2021,3132,SRS Distribution,srsdistribution.com,Texas,TX,2183778171,75070,2008.0,Consumer Products & Services,"Dallas-Fort Worth-Arlington, TX",NaN,NaN
2064,https://www.inc.com/profile/pinnacle-group,Dallas,216.2477,1563,Pinnacle Group,pinnacle1.com,Texas,TX,2110176184,75240,1996.0,Human Resources,"Dallas-Fort Worth-Arlington, TX",NaN,NaN
4973,https://www.inc.com/profile/insight-global,Atlanta,58.1746,2570,Insight Global,insightglobal.com,Georgia,GA,1928758851,30319,2001.0,Business Products & Services,"Atlanta-Sandy Springs-Roswell, GA",NaN,NaN
3010,https://www.inc.com/profile/transportation-ins...,Hickory,134.1974,510,Transportation Insight,transportationinsight.com,North Carolina,NC,1892660132,28602,1999.0,Logistics & Transportation,"Hickory-Lenoir-Morganton, NC",NaN,NaN
1388,https://www.inc.com/profile/victra,Raleigh,341.3350,6000,VICTRA,victra.com,North Carolina,NC,1460373019,27615,1996.0,Retail,"Raleigh-Cary, NC",NaN,NaN
3496,https://www.inc.com/profile/strike,The Woodlands,107.8916,5939,Strike,strikeusa.com,Texas,TX,1401259860,77380,2003.0,Energy,"Houston-The Woodlands-Sugar Land, TX",NaN,NaN
4551,https://www.inc.com/profile/avella-specialty-p...,Phoenix,71.2137,706,Avella Specialty Pharmacy,avella.com,Arizona,AZ,1351981297,85085,1996.0,Health,"Phoenix-Mesa-Scottsdale, AZ",NaN,NaN
2110,https://www.inc.com/profile/jeunesse-global,Lake Mary,210.2303,825,Jeunesse Global,jeunesseglobal.com,Florida,FL,1300731294,32746,2009.0,Consumer Products & Services,"Orlando-Kissimmee-Sanford, FL",NaN,NaN
4987,https://www.inc.com/profile/pacific-dental-ser...,Irvine,57.6902,9008,Pacific Dental Services,pacificdentalservices.com,California,CA,1186683500,92614,1994.0,Health,"Los Angeles-Long Beach-Anaheim, CA",NaN,NaN

In [121]:
df_6b

,URL,CITY,GROWTH,EMPLOYEES,COMPANY NAME,WEBSITE,STATE,State Code,REVENUE,ZIP CODE,FOUNDED,INDUSTRY,"CITY, STATE",Unnamed: 14,Unnamed: 15
RANK,,,,,,,,,,,,,,,
3757,https://www.inc.com/profile/jersey-mikes-subs,Manasquan,97.4898,19000,Jersey Mike's Subs,jerseymikes.com,New Jersey,NJ,974782877,8736,1956.0,Food & Beverage,"New York-Newark-Jersey City, NY-NJ-PA",NaN,NaN
3483,https://www.inc.com/profile/monogram-foods,Memphis,108.5890,2700,Monogram Foods,monogramfoods.com,Tennessee,TN,670665838,38117,2004.0,Food & Beverage,"Memphis, TN",NaN,NaN
998,https://www.inc.com/profile/gps-hospitality,Atlanta,493.1933,11016,GPS Hospitality,gpshospitality.com,Georgia,GA,551176689,30328,2012.0,Food & Beverage,"Atlanta-Sandy Springs-Roswell, GA",NaN,NaN
3434,https://www.inc.com/profile/freddys-frozen-cus...,Wichita,111.0822,11886,Freddy's Frozen Custard & Steakburgers,freddysusa.com,Kansas,KS,410993763,67206,2002.0,Food & Beverage,"Wichita, KS",NaN,NaN
4061,https://www.inc.com/profile/blount-fine-foods,Fall River,86.0419,628,Blount Fine Foods,blountfinefoods.com,Massachusetts,MA,338254000,1760,1946.0,Food & Beverage,"Boston-Cambridge-Newton, MA-NH",NaN,NaN
3,https://www.inc.com/profile/home-chef,Chicago,60165.5058,865,Home Chef,homechef.com,Illinois,IL,255047839,60611,2013.0,Food & Beverage,"Chicago-Naperville-Elgin, IL-IN-WI",NaN,NaN
3537,https://www.inc.com/profile/coopers-hawk-winer...,Countryside,106.4360,4155,Cooper's Hawk Winery & Restaurants,chwinery.com,Illinois,IL,241827341,60525,2005.0,Food & Beverage,"Chicago-Naperville-Elgin, IL-IN-WI",NaN,NaN
2436,https://www.inc.com/profile/nothing-bundt-cakes,Addison,177.5477,230,Nothing Bundt Cakes,nothingbundtcakes.com,Texas,TX,220026175,75001,1997.0,Food & Beverage,"Dallas-Fort Worth-Arlington, TX",NaN,NaN
515,https://www.inc.com/profile/mod-pizza,Bellevue,979.4089,5500,MOD Pizza,modpizza.com,Washington,WA,219487000,98008,2008.0,Food & Beverage,"Seattle-Tacoma-Bellevue, WA",NaN,NaN
4633,https://www.inc.com/profile/studio-movie-grill,Dallas,68.3820,5800,Studio Movie Grill,studiomoviegrill.com,Texas,TX,211683327,75251,2000.0,Food & Beverage,"Dallas-Fort Worth-Arlington, TX",NaN,NaN

In [123]:
df_6c

,URL,CITY,GROWTH,EMPLOYEES,COMPANY NAME,WEBSITE,STATE,State Code,REVENUE,ZIP CODE,FOUNDED,INDUSTRY,"CITY, STATE",Unnamed: 14,Unnamed: 15
RANK,,,,,,,,,,,,,,,
4855,https://www.inc.com/profile/sterling-talent-so...,New York City,61.7196,4087,Sterling Talent Solutions,sterlingtalentsolutions.com,New York,NY,480956135,10004,1975.0,Business Products & Services,"New York-Newark-Jersey City, NY-NJ-PA",NaN,NaN
71,https://www.inc.com/profile/compass,New York City,4309.0950,464,Compass,compass.com,New York,NY,370560142,10011,2012.0,Real Estate,"New York-Newark-Jersey City, NY-NJ-PA",NaN,NaN
97,https://www.inc.com/profile/peloton,New York City,3710.7823,872,Peloton,onepeloton.com,New York,NY,328337000,10001,2012.0,Retail,"New York-Newark-Jersey City, NY-NJ-PA",NaN,NaN

In [124]:
df_6d

,URL,CITY,GROWTH,EMPLOYEES,COMPANY NAME,WEBSITE,STATE,State Code,REVENUE,ZIP CODE,FOUNDED,INDUSTRY,"CITY, STATE",Unnamed: 14,Unnamed: 15
RANK,,,,,,,,,,,,,,,
3357,https://www.inc.com/profile/infiniti-hr,Burtonsville,115.2400,34499,INFINITI HR,infinitihr.com,Maryland,MD,371942140,20866,2008.0,Human Resources,"Washington-Arlington-Alexandria, DC-VA-MD-WV",NaN,NaN
349,https://www.inc.com/profile/t-rex-solutions,Greenbelt,1427.5775,385,T-Rex Solutions,trexsolutionsllc.com,Maryland,MD,195539254,20770,1999.0,Government Services,"Washington-Arlington-Alexandria, DC-VA-MD-WV",NaN,NaN
3196,https://www.inc.com/profile/the-maryland-and-d...,Salisbury,122.8835,30,The Maryland and Delaware Group of Long and Fo...,easternshorehomesolutions.com,Maryland,MD,106544544,21801,2014.0,Real Estate,"Salisbury, MD",NaN,NaN
1732,https://www.inc.com/profile/n2grate,Greenbelt,263.3315,44,n2grate,n2grate.com,Maryland,MD,101674761,20770,2010.0,Government Services,"Washington-Arlington-Alexandria, DC-VA-MD-WV",NaN,NaN
2077,https://www.inc.com/profile/tista-science-and-...,Rockville,214.2944,296,TISTA Science and Technology,tistatech.com,Maryland,MD,95475617,20854,2005.0,Government Services,"Washington-Arlington-Alexandria, DC-VA-MD-WV",NaN,NaN

#7Awards will be given to companies in service industries based on their revenue. This 
includes any company who is in an industry with a "Services" name included as part of its industry. The 
top quarter of these companies will be given a Trailblazer award, while companies who didn't make the 
top quarter, but made the top half will be given a Pioneer award. For each company earning an award, 
provide a data frame showing the company, its rank, its revenue, and which award it will earn, sorted 
by revenue in descending order.

In [161]:
#including service str
df_ser = df_inc[df_inc['INDUSTRY'].str.contains('Services')]
df_ser2 = df_ser.sort_values(by = 'REVENUE', ascending = False)
#df_ser.head()
df_ser2.head()

,URL,CITY,GROWTH,EMPLOYEES,COMPANY NAME,WEBSITE,STATE,State Code,REVENUE,ZIP CODE,FOUNDED,INDUSTRY,"CITY, STATE",Unnamed: 14,Unnamed: 15
RANK,,,,,,,,,,,,,,,
4226,https://www.inc.com/profile/carahsoft-technology,Reston,80.4559,900,Carahsoft Technology,carahsoft.com,Virginia,VA,4107537719,20190,2004.0,Government Services,"Washington-Arlington-Alexandria, DC-VA-MD-WV",NaN,NaN
4341,https://www.inc.com/profile/drivetime,Tempe,76.6689,6111,DriveTime,drivetime.com,Arizona,AZ,3267077000,85281,2002.0,Consumer Products & Services,"Phoenix-Mesa-Scottsdale, AZ",NaN,NaN
3546,https://www.inc.com/profile/srs-distribution,McKinney,106.2021,3132,SRS Distribution,srsdistribution.com,Texas,TX,2183778171,75070,2008.0,Consumer Products & Services,"Dallas-Fort Worth-Arlington, TX",NaN,NaN
4973,https://www.inc.com/profile/insight-global,Atlanta,58.1746,2570,Insight Global,insightglobal.com,Georgia,GA,1928758851,30319,2001.0,Business Products & Services,"Atlanta-Sandy Springs-Roswell, GA",NaN,NaN
2110,https://www.inc.com/profile/jeunesse-global,Lake Mary,210.2303,825,Jeunesse Global,jeunesseglobal.com,Florida,FL,1300731294,32746,2009.0,Consumer Products & Services,"Orlando-Kissimmee-Sanford, FL",NaN,NaN

#8

In [163]:
plt.figure(figsize=(6,6))
size = df_inc[['STATE']]
plt.pie(size,autopct='%.1f%%')
plt.title('STATE of company')

AttributeError: module 'matplotlib' has no attribute 'figure'

use the state here to make up the pie chart. the figure shows the proportion of companies located in different states. The activity can be viewed.


"I pledge on my honor that I have not given nor received any unauthorized 
assistance on this assignment." 
--ZhengCEN